/* Reusable items */
/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-size: 105%;
}

html,
body {
  color: #000;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.container__header {
  height: auto;
  width: auto;
  position: relative;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/background3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  align-content: center;
  padding: 100px 0 50px 0;
}
.container__header h1 {
  text-align: center;
  font-family: "Major Mono Display", monospace;
  font-size: 300%;
  font-weight: 600;
  margin-bottom: 100px;
  color: white;
}
.container__header .main__form-input {
  text-align: center;
}
.container__header .main__form-input p {
  color: white;
}
.container__header .main__form-input .effect-form:focus {
  padding: 5px 14px 7px;
  transition: 0.4s;
}
.container__header .main__form-input .effect-form:focus .focus-border {
  position: absolute;
  height: 36px;
  bottom: 0;
  left: 0;
  width: 0;
  transition: 0.4s;
}
.container__header .main__form-input .effect-5:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  border: 2px solid #4caf50;
}

/* ----------------------------------------------- */
/* INFO */
/* ----------------------------------------------- */
.container__info {
  height: 100vh;
  text-align: center;
}
.container__info .container__info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__info .container__info-fullInfo {
  width: 100%;
  height: 250px;
  text-align: center;
  padding: 0 100px;
}
.container__info .container__info-fullInfo h1 {
  font-family: "Major Mono Display", monospace;
  padding: 50px 0;
  font-size: 250%;
}
.container__info .container__info-fullInfo p {
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 50px;
}

/* ----------------------------------------------- */
/* TWEETS */
/* ----------------------------------------------- */
.info__twitter h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 200%;
}

.tweets {
  padding: 20px 50px;
  height: auto;
  overflow: auto;
  text-align: left;
}

.tweet_card {
  padding: 10px 10px;
  box-shadow: 2px 2px 2px #999999;
  margin-bottom: 50px;
}
.tweet_card .profile-thumbnail {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  margin: 0 20px 20px 0;
}
.tweet_card .profile-name {
  justify-content: center;
  margin-left: 10px;
}
.tweet_card h4 {
  margin-bottom: 20px;
}

#inner p {
  margin-bottom: 10px;
  font-size: 20px;
}

#inner hr {
  margin: 20px 0;
  border-style: solid;
  opacity: 0.1;
}

.stats {
  display: flex;
  font-size: 15px;
}
.stats strong {
  font-size: 18px;
}
.stats .retweets {
  margin-right: 10px;
}

/* ----------------------------------------------- */
/* EVENTS */
/* ----------------------------------------------- */
.info__events h1 {
  font-family: "Major Mono Display", monospace;
  font-size: 200%;
}

.events {
  padding: 20px 50px;
  height: auto;
  overflow: auto;
  text-align: left;
}

.event_card {
  padding: 10px 10px;
  box-shadow: 2px 2px 2px #999999;
  margin-bottom: 50px;
}
.event_card .event-thumbnail {
  float: left;
  width: 100px;
  margin: 0 20px 20px 0;
}
.event_card .event-name {
  justify-content: center;
  margin-left: 10px;
}
.event_card h4 {
  margin-bottom: 20px;
}
.event_card p {
  margin-bottom: 10px;
  font-size: 20px;
}
.event_card hr {
  margin: 20px 0;
  border-style: solid;
  opacity: 0.1;
}

/*# sourceMappingURL=style.css.map */
