

/* Reusable items */

$title-font: 'Rajdhani', sans-serif;
$cryptic-font: 'Major Mono Display', monospace;

/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $title-font;
    font-weight: 400;
    font-size: 105%;
}

html,
body {
    color: #000;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */
.container__header {
    min-height: 80vh;
    width: auto;
    position: relative;
    overflow: auto;
    margin: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.582), 
        rgba(0, 0, 0, 0.719)
        ), url(img/background4-min.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-content: center;
    padding: 100px 0 50px 0;

    h1 {
        text-align: center;
        font-family: $cryptic-font;
        font-size: 300%;
        font-weight: 600;
        margin-bottom: 100px;
        color: white;
    }

    .main__form-input {
        text-align: center;

        p {
            color: white;
            margin-bottom: 10px;
        }

        .effect-form:focus {
            padding: 5px 14px 7px; transition: 0.4s;

            .focus-border {
                position: absolute; 
                height: 36px; 
                bottom: 0; 
                left: 0; 
                width: 0; 
                transition: 0.4s;
            }
        }
        .effect-5:focus ~ .focus-border {
            width: 100%; 
            transition: 0.4s; 
            border: 2px solid #4caf50;
        }
    }

    .btn {
        margin-top: 10px;
        width: 100px;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 200px;
        border: 1px solid #2f3542;
        transition: background-color 0.5s, border 0.5s, color 0.5s; 
    }

    .btn:hover,
    .btn:active {
        background-color: #2f3542;
        border: 1px solid #2f3542;
    }
}

/* ----------------------------------------------- */
/* INFO */
/* ----------------------------------------------- */

.container__info {
    height: auto;
    text-align: center;
    background-color: black;
    

    .container__info-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .container__info-fullInfo {
        width: 100%;
        height: 300px;
        text-align: center;
        padding: 0 100px;
        color: white;

        h1 {
            font-family: $cryptic-font;
            padding: 50px 0;
            font-size: 250%;
        }

        p {
            font-family: $title-font;
            margin-bottom: 50px;
        }
    }
    
}


/* ----------------------------------------------- */
/* TWEETS */
/* ----------------------------------------------- */

.info__twitter {
    .twitter__title {
        font-family: $cryptic-font;
        font-size: 200%;
        color: white;
    }
}
.tweets {
    padding: 20px 50px;
    height: auto;
    overflow: auto;
    text-align: left;
}

.tweet_card {
    padding: 10px 10px;
    box-shadow: 4px 4px 1px rgb(155, 155, 155);
    margin-bottom: 50px;
    background-color: white;

    .profile-thumbnail {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 90px;
        margin: 0 20px 20px 0;
      }
      .profile-name {
        justify-content: center;
        margin-left: 10px;
      }
      
      h4 {
        margin-bottom: 20px;
      }
  }
 
  #inner p {
    margin-bottom: 10px;
    font-size: 20px;
  }
  #inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
  }

.stats {
    display: flex;
    font-size: 15px;

    strong {
        font-size: 18px;
    }
    .retweets {
        margin-right: 10px;
    }
}

/* ----------------------------------------------- */
/* EVENTS */
/* ----------------------------------------------- */

.info__events {
    .events__title {
        font-family: $cryptic-font;
        font-size: 200%;
        color: white;
    }
}
.events {
    padding: 20px 50px;
    height: auto;
    overflow: auto;
    text-align: left;
}

.event_card {
    padding: 10px 10px;
    box-shadow: 4px 4px 1px rgb(155, 155, 155);
    margin-bottom: 50px;
    background-color: white;

    .event-thumbnail {
        float: left;
        width: 100px;
        margin: 0 20px 20px 0;
    }
    .event-name {
        justify-content: center;
        text-align: center;
    }
      
    h4 {
        margin-bottom: 20px;
        font-family: $cryptic-font;
        font-size: 30px;
    }
    p {
        margin-bottom: 10px;
        font-size: 20px;
      }
    hr {
        margin: 20px 0;
        border-style: solid;
        opacity: 0.1;
    }
}















